





.barra-de-navegacion{
    background-color: #e6c79e;
    text-align: center;
    padding: 1%;
    font-family:Tan Pearl;

}
a{
  text-decoration: none; /* Remove underline from links */
color: #40311d; /* Set text color */
font-size: 25px; /* Define font size */
padding: 12px;
margin: 10px; 
/* Set button padding */
background-color:#f6ecdf;
border-radius: 70px; /* Set rounded corners */
}
a:hover {
  background-color: #7199c4; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
}
@media (max-width: 800px) {
a {
    font-size: 15px;
    padding: 3px;
    margin: 7px; 
}}


  

  /* estilos de la pagina principal, cambios hehcos por Sofia y agregados por Adolfo*/


:root {
    --primary-color: #e6c79e;
    --light-color: #f6f1ea;
    --dark-color: #8a6b3f;
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #333;
    --background: white;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*variales*/


body {
   background-color: var(--light-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    width: 100%;
}


ul {
    list-style:none;
}

h1,
h2,
h3,
h4 {
    color: black;
}

p {
    margin: 0.5rem;
}

.header {
    background-color: var(--primary-color);
    box-shadow: 1px 1px 1px 0px var(--dark-color);
    position:relative;
    top: 0px;
    width: 100%;
    height: 100px;
    margin-top: 0px;
    border-bottom: 2px solid var(--dark-color);

}

.header img {
    position: absolute;
    top: -20%;
    left: 50%;
}

.header a {
    position: absolute;
    top: -21%;
    right: 98%;

}

.logo {
    display: inline-block;
    height: 115px;
    text-align: center;
    padding-left: 50%;
    padding-right: 0;
    margin-top: 15px;

}

.milo {
    display: inline-block;
    top: 50%;
    left: 100%;
    margin: 0 -4%;
    margin-top: 20px;

}

/*hamb mennu*/





.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--primary-color);
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
    padding: 0%;

}
/*
carousel
*/
.carousel {
    text-align: center;

}

.carousel img {
    width: 100%;
    
}


/*footer*/

hr {
    height: 3px;
    background-color: #664932;
    border-color: #664932;
}

.rule {
    margin-top: .5px;
}




footer{
    font-size: 24px;
    color: #ffffff;
    background-color:#ab834d;
    margin-top: 5px;

       
}
@media (max-width: 800px) {
    footer {
       font-size: 15px;
       text-align: center;
    }
   
}
    
    


footer p {
    display:inline-flexbox;
        padding-top: .5rem;
    text-align: center;
    padding: 20px;
  }
 
.footer-cols {
    display:flex;
   justify-content: center;
   padding: 30px;
}


.icon img {
   justify-content: center;
    width: 26px;
    height: 26px;
}

.icono:hover {
    transform: scale(1.1);
}


/* estilos carrousel */
.carousel {
    overflow:hidden;
    width: 100%;
    max-width: 80%;
    margin: auto;
    position:static;
}

.carousel ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 0.5s ease;
}

.carousel .item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-itemt img {
    width: 100%;
    border-radius: 0px;
}
@media (max-width: 800px) {
    .carousel {
        overflow:hidden;
        width: 100%;
        max-width: 100%;
        margin: auto;
        position:static;
    }
       
}   