body {
  font-family: Arial, sans-serif;
  text-align: center;
 
}

.logo{
  height: 3.5cm;
}
.color-selector {
  margin-bottom: 20px;
  padding: 5%;
  }

.color-selector label {
  margin-right: 10px;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#colorSelect, #colorSelect2{
  border-radius: 30px;
  font-size: 30px;
  text-align: center;
}
.bag-preview {
  padding: 30px;
  margin: 40px;
  

}
.texto-principal{
padding: 120px;
font-size: auto;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

.imagen-de-hilos{
 border-radius: 70%;
 border-color: #ab834d;
 margin: 20px;
}
.imagen-de-hilos:hover {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.05);
  }
}
.color{
  max-width: 50%;
  height: auto;
}




footer{
  font-size: 14px;
  color: #ffffff;
  background-color:#ab834d;
  margin-top: 5px;
  padding: 15px;
   
}
footer.footer{
  height: auto;
}footer p {
  margin-bottom: .5rem;
  padding: .5rem;
}
footer li {
  line-height: .5rem;
  padding: 0 0.8rem;
  margin-bottom: 5rem;
}

/* boton*/
 .btn-whatsapp {
  background-color: #25D366; /* Verde de WhatsApp */
  color: white;
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.btn-whatsapp:hover {
  background-color: #1EBE5B; /* Verde más oscuro al pasar el ratón */
  transform: translateY(-2px); /* Efecto de elevación */
}

.btn-whatsapp:active {
  transform: translateY(1px); /* Ligeramente hacia abajo al hacer clic */
}