/* Estilos generales */
p {
  text-align: center;
  font-size: medium;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
  font-size: 14px;
  color: #ffffff;
  background-color: #ab834d;
  margin-top: 5px;
  padding: 15px;
  height: auto;
}

hr {
  height: 3px;
  background-color: #664932;
  border: none;
}

.rule {
  margin-top: .5px;
}

.Formas-de-pago {
  margin: 2cm;
}

.texto-money {
  font-size: 40px;
  padding: 1cm;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.icono {
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  background-color: #ab834d;
  border-color: #ab834d;
}

.icono img {
  width: 100%;
  height: auto;
}

.icono:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: #40311d;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #f6ecdf;
  border-radius: 5px;
}

a:hover {
  background-color: #7199c4;
  color: #fff;
}

/* Diseño del footer para diferentes dispositivos */

.footer-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

/* Responsividad */
@media (min-width: 768px) {
  .footer-cols {
      grid-template-columns: repeat(4, 1fr);
  }

  .Formas-de-pago {
      margin: 1cm;
  }

  .texto-money {
      font-size: 30px;
  }

  footer {
      padding: 20px;
      font-size: 16px;
  }
}

@media (min-width: 1024px) {
  p {
      font-size: large;
  }

  .Formas-de-pago {
      margin: 0.5cm;
  }

  .texto-money {
      font-size: 35px;
  }

  .footer {
      grid-template-columns: repeat(2, 1fr);
  }

  .footer-cols {
      grid-template-columns: repeat(4, 1fr);
  }
}
body{
  height: 100%;
}