p{
    text-align: center;
    font-size: medium;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


footer{
    font-size: 14px;
    color: #ffffff;
    background-color:#ab834d
    ;
    margin-top: 5px;
    padding: 15px;
    
}
.icono {
    display: inline-block;
    width: 40px; /* Ancho del icono */
    height: 40px; /* Alto del icono */
    overflow: hidden; /* Para recortar la imagen si es necesario */
     /* Hacerlo circular si la imagen lo permite */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra suave */
    transition: transform 0.3s ease; /* Transición suave al hacer hover */
    padding: 0%;
    background-color: #ab834d;
    border-color: #ab834d;
  }
  
  .icono img {
    width: 100%; /* Asegura que la imagen ocupe todo el contenedor */
    height: auto;
  }
  .icono:hover {
    transform: scale(1.1); /* Efecto de escalar un poco al hacer hover */
  }