





.barra-de-navegacion{
    background-color: #e6c79e;
    text-align: center;
    padding: 1%;
    font-family:Tan Pearl;

}
a{

  text-decoration: none; /* Remove underline from links */
color: #40311d; /* Set text color */
font-size: 16px; /* Define font size */
padding: 10px 20px; /* Set button padding */
background-color: 
#f6ecdf


; /* Set background color */
 /* Define button borders */
border-radius: 5px; /* Set rounded corners */
}
a:hover {
  background-color: #7199c4; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
}



  

  /* estilos de la pagina principal, cambios hehcos por Sofia y agregados por Adolfo*/


:root {
    --primary-color: #e6c79e;
    --light-color: #f6f1ea;
    --dark-color: #8a6b3f;
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #333;
    --background: white;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*variales*/


body {
    display: block;
    background-color: var(--light-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    color: black;
}

p {
    margin: 0.5rem;
}

.header {
    background-color: var(--primary-color);
    box-shadow: 1px 1px 1px 0px var(--dark-color);
    position: sticky;
    top: 0px;
    width: 100%;
    height: 100px;
    margin-top: 0px;
    border-bottom: 2px solid var(--dark-color);

}

.header img {
    position: absolute;
    top: -20%;
    left: 50%;
}

.header a {
    position: absolute;
    top: -21%;
    right: 98%;

}

.logo {
    display: inline-block;
    height: 115px;
    text-align: center;
    padding-left: 50%;
    padding-right: 0;
    margin-top: 15px;

}

.milo {
    display: inline-block;
    top: 50%;
    left: 100%;
    margin: 0 -4%;
    margin-top: 20px;

}

/*hamb mennu*/


.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    border-radius: 9999px;
}

.hamburger-menu::before,
.hamburger-menu::after .hamburger-menu input {
    content: "";
    /**empty strings gives the bf and aftr elements content, which will show them up on the screen*/
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
}

.hamburger-menu input {
    appearance: none;

}



.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--primary-color);
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
    padding: 0%;

}
/*
carousel
*/
.carousel {
    text-align: center;

}

.carousel img {
    width: 100%;
    height: auto;
}


/*footer*/

hr {
    height: 3px;
    background-color: #664932;
    border-color: #664932;
}

.rule {
    margin-top: .5px;
}




footer{
    font-size: 24px;
    color: #ffffff;
    background-color:#ab834d;
    margin-top: 5px;
    padding: 15px;
   
}

footer.footer{
    height: auto;
}
footer p {
    margin-bottom: .5rem;
    padding: .5rem;
  }
 
.footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    transition: transform 0.5s ease;
    padding: 0%;
}

.icon img {
    width: 100%;
    height: auto;
}

.icono:hover {
    transform: scale(1.1);
}


/* estilos carrousel */
.carousel {
    overflow: hidden;
    width: 80%;
    max-width: 600px;
    margin: auto;
    position: relative;
}

.carousel ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 0.5s ease;
}

.carousel .item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-itemt img {
    width: 100%;
    border-radius: 8px;
}