body {
  font-family: Arial, sans-serif;
  text-align: center;
 
}

.logo{
  height: 3.5cm;
}
.color-selector {
  margin-bottom: 20px;
  padding: 5%;  
  }

.color-selector label {
  
  font-size: 30px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 100;
  padding: 40px;
  margin: 40px;
}
#colorSelect, #colorSelect2{
  border-radius: 30px;
  font-size: 30px;
  text-align: center;
}
.bag-preview {
  padding: 10px;
  margin: 10px;

}
.texto-principal{
padding: 100px;
font-size: auto;
font-family:Arial, Helvetica, sans-serif;
font-weight: 100;
}

.imagen-de-hilos{
 border-radius: 30%;
 margin: 20px;
 width: 15%;
 height: 15%;
}


.imagen-de-hilos:hover {
  animation: pulse 1s infinite;
}
@media (max-width: 800px) {
.texto-principal{
font-size: 20px;
padding: 60px;
font-weight: 100;
} 
.imagen-de-hilos{
  width: 30%;
  height: 30%;
}

.color-selector label{
font-size: 18px;
padding: 15px;
margin: 10px;
}
#colorSelect, #colorSelect2{
  font-size: 18px;
  text-align: center;
  
}

}

@keyframes pulse {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.05);
  }

}
.color{
  max-width: 50%;
  height: auto;
}





/* boton*/
 .btn-whatsapp {
  background-color: #25D366; /* Verde de WhatsApp */
  color: white;
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}



.btn-whatsapp:hover {
  background-color: #1EBE5B; /* Verde más oscuro al pasar el ratón */
  transform: translateY(-2px); /* Efecto de elevación */
}

.btn-whatsapp:active {
  transform: translateY(1px); /* Ligeramente hacia abajo al hacer clic */
}